.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown blockquote {
  @apply border-l-4 border-current pl-4 italic leading-normal;
}

.markdown h2 {
  @apply text-3xl mt-10 mb-10 leading-snug font-bold;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-8 leading-snug font-bold;
}

.markdown ol,
.markdown ul {
  @apply ml-6;
}

.markdown li {
  @apply py-1;
}

.markdown ol {
  @apply list-decimal list-inside;
}

.markdown ul {
  @apply list-disc list-inside;
}

.markdown a {
  @apply underline hover:opacity-70;
}

.markdown code {
  @apply rounded px-1.5 py-1 text-sm text-white !important;
  background: #011627;
}

.markdown pre *::selection,
.markdown code::selection {
  background: #573ede;
  color: white;
}

.markdown ol ol,
.markdown ul ul {
  @apply my-2;
}
